body {
	background-color: antiquewhite;
}
a{
	display: block;
	font-size: large;
	font-weight: bold;
}
.navbar-header{
	width: 50%;
}
header{
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 999;
	background-color: rgb(255, 255, 255);
}
.container{
	width: 100%;
	position: relative;
}
.row{
	width: 100%;
	display: flex;
}
.column {
	padding: 15px;
	flex: 50%;
}
#info-image {
	width: 100px;
	height: 100px;
}
section {
	margin-top: 100px;
}
p{
	font-size: large;
}
h2{
	font-weight: bolder;
}
.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2bcca9);
  background-image: -moz-linear-gradient(top, #30E3CB, #2bcca9);
  background-image: -ms-linear-gradient(top, #30E3CB, #2bcca9);
  background-image: -o-linear-gradient(top, #30E3CB, #2bcca9);
  background-image: linear-gradient(to bottom, #30E3CB, #2bcca9);
  text-decoration: none;
}
footer {
	background-color: rgb(253, 180, 180);
}
